/*--common--*/
body, html {
    height: 100%;
    margin: 0;
}
/* Font for title:CHINESE TOURISM */
h1 {
    font-family: 'Nova Flat';
}
/* Font for tagline: Welcome to China */
h2 {
    font-family: 'Sofia';
}
/* logo */
.brand img {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% / 15);
    height: auto;
}
/*set the style for navbar*/
.navbar-nav{
    border: 2px solid #a1a1a1;
	border-radius: 20px;
}
/* Font for navbar */
.navbar-nav{
    font-size: 25px; 
    font-family: 'Open Sans', sans-serif;
  }
/* set for background style */
body{
  background-image: url("../image/Chinesepicture1.jpg");
  background-position: center center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover; 
  height: 100%;
  margin: 0;
  padding: 0;
}
/* Font for footer */
footer {
    font-family: 'Nova Flat';
}
/*responsive design*/
/* Adjustments for small screens */
@media (max-width: 767px) {

}
/* Adjustments for medium screens */
@media (min-width: 768px) and (max-width: 991px) {

}
 /* Adjustments for large screens */
@media (min-width: 992px) {
   
}

/*--index--*/
/*click an image, show some text relating to that image.*/
#text{
    font-family: 'Sofia';
}
/*set the style for image*/
.col-sm-4 img{
    border:2px solid #a1a1a1;
    border-radius:25px;
}

<<<<<<< HEAD

/* -----------end------------------------------------ */

/*Wang  set the style for cards in info page*/
.card-img-top{
    width: 300px;
    height: 300px;
}

/* Wang set the style for box for reviews */
#reviews{
    margin: 20px auto; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding-top: 15px; 
    background-color:lightblue }

/*Wang set the style for son boxes for customers' views  */
.review-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f2f2f2;
}


/*--Questions--*/
/*set the style for question boxes*/
.questions-container {
    width: 88%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*set the style for question*/
.questions {
    background: #ffffff;
    margin: 15px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto';
    text-align: left;
    width: 48%;
}
/*set the style for question title*/
.questions h3 {
    font-family: 'Sofia';
    color: #0056b3;
    text-align: center;
}
/*Set a separate style for the last question*/
.questions:last-child {
    padding: 0;
    width: 100%;
    text-align: center;
}
/*new background color when hovered on the question boxes*/
.questions:hover {
    background-color: rgb(239, 250, 249);
}
/*Set the style for the feedback form*/
#feedback-form button{
    margin-top: 10px;
}
#feedback-form-container {
    width: 88%;
}
#feedback-form-container h3 {
    font-family: 'Sofia';
    color: #0056b3;
    text-align: center;
}

/*--Contact--*/
/*set the style for the contact information table*/
.contact-table {
    margin: 30px auto;
    font-family: 'Roboto';
    border-collapse: separate;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(101, 100, 100, 0.5);
}
.contact-table td,
th {
    padding: 10px;
    vertical-align: middle;
}
/*set the style for the map*/
.contact-map iframe {
    margin-top: 30px;
    width: 65%;
    border: 2px solid #999494;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(101, 100, 100, 0.5);
}
/*set the style for social-media link in the table*/
.contact-media a {
    margin-right: 10px;
}
.contact-media img {
    width: 5%;
    height: auto;
}

=======
/*--game--*/
/*adjust the size of textarea*/
#comment-game {
    min-height: 20vh; 
    max-height: 50vh; 
    resize: vertical; 
}
/*font of the tagline of game area*/
#tagline-game{
    font-family: 'Style Script';
}
/*font of the questions of game*/
#question-game{
    font-family: 'Roboto';
}
>>>>>>> master
